.form {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.block {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
}












body{
    background-color: darkgrey;
    /*margin: 200px 300px;*/
}

#form{
    background-color: white;
    border: 2px solid black;
    margin: auto;
    /*display: block;*/
    width: 500px;
    padding: 3em 0;
}

.warning{
    background-color: red;
}

